.container{
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.display{
 margin: auto;
 padding: 2px;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

p{
  padding: 30px;
  color:slategray;
  font-size: 40px;
}

.buttoncon{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

button{
  margin: 0px 40px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #2c2f3d;
  color: #ffffff;
  height: 35px;
}

button:hover{
  opacity: 0.5;
  border: 0.5px;

}